<div class="content">
  <div class="card flex justify-content-center card-file-upload">
    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
    [multiple]="false" accept="image/*, .pdf" [maxFileSize]='10000000'
    [chooseLabel]="'Seleccionar'" [uploadLabel]="'Cargar'" [cancelLabel]="'Cancelar'"
    [style]="{'width': 250}">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
  </div>
</div>
